<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- <meta name="viewport" content="width"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <?= $nc_core->page->get_metatags(); ?>
    <title><?= $nc_core->page->get_title(); ?></title>
    
    <?php if ($nc_core->admin_mode) { echo nc_js(); } ?>
    <link href="<?= $nc_parent_template_folder_path; ?>css/default.css" rel="stylesheet" type="text/css">
    <link href="<?= $nc_parent_template_folder_path; ?>css/mixin_defaults.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="<?= $nc_parent_template_folder_path; ?>assets/css/style.css">
    <link rel="stylesheet" href="<?= $nc_parent_template_folder_path; ?>assets/css/custom-select.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <title>Document</title>
</head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

    <header class="">
        <div class="container ">
            <div class="header">
                <div class="header-left">
                    <a href="/" class="logo">
                        <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/logo.png" alt="">
                    </a>
                </div>
                <div class="header-center">
                    <ul class="header-menu">
                        <li><a href="about.html">О центре</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul class="header-menu">
                        <li>
                            <div class="icon">
                                <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/icon1.png" alt="">
                            </div>
                            <a href="#">ЦКР</a>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/icon2.png" alt="">
                            </div>
                            <a href="#">РЦИ</a>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/icon3.png" alt="">
                            </div>
                            <a href="#">РЦК</a>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/icon4.png" alt="">
                            </div>
                            <a href="claster.html">Камский кластер</a>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/icon5.png" alt="">
                            </div>
                            <a href="#">Промпарки</a>
                        </li>
                    </ul>
                    <div class="search">
                        <img src="<?= $nc_parent_template_folder_path; ?>assets/images/header/search.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>

<style>
.nc-demo-modal-wrapper {
    display:none;
}
.tpl-area-main {
    min-height: 0vh !important;
}
</style>

<?=  nc_area('main'); ?>