& {min-height:60px;}

.object-item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--tpl-color-foreground-main);
    align-self: flex-start;
}
.tpl-color-brand {
    color: var(--tpl-color-brand);
}
.object-item.reverse {
    flex-direction: row-reverse;
}
.object-item[max-width~='500px'] {
    flex-direction: column;
}
.object-item[max-width~='500px'] {
    flex-direction: column;
}
.object-item .item-image {
    position: relative;
    width:50%;
    align-self: flex-start;
}

.object-item[max-width~='500px'] .item-image {
    width:100%;
}
.object-item .item-info {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
}
.object-item.reverse.pull-text .item-info {
    align-items: flex-end;
    text-align: right;
}
.object-item[max-width~='500px'] .item-info {
    width:100%;
}
.object-item[min-width~='500px'] .item-info {
    padding: 0 3%;
}
.object-item[min-width~='700px'] .item-info {
    padding: 0 5%;
}



.object-item .item-image .image {
    position: absolute; /* абсолютное положение элемент */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.object-item .item-image * {
    width: 100%;
    height: 100%;
}
.object-item .item-image .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.object-item .item-image:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */

}

.size-16by9:before {
    padding-top: 56.25%; /* (9:16)*100% */
}
.size-1-62by1:before {
    padding-top: 61.72%; /* (1:1.62)*100% */
}
.size-3by2:before {
    padding-top: 66.66%; /* (2:3)*100% */
}
.size-4by3:before {
    padding-top: 75%; /* (3:4)*100% */
    /*padding-top: calc( (33.333% - 20px) * (3/4) ); !* (9:16)*100% *!*/
}
.size-1by1:before {
    padding-top: 100%; /* (1:2)*100% */
}
.size-:before {
    padding-top: 61.72%;
}
